<style>
    .nav-link{
      color:rgb(187, 181, 66);
      font-size: 20px;
      font-family: 'times roman';
    }
    
    .dropdown-item{
      color: rgb(172, 39, 21);
      font-size: 20px;
      font-family: 'times roman';
    }
    a:hover{
      color:rgb(150, 220, 236)!important
    }
    .navbar-brand{
      color:rgb(75, 172, 19);
    }
    </style>
    
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand" href="https://in.indeed.com/"><U><b>INTERNSHIP HUB</b></U></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{'/'}}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/about/'}}">COURSE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/feedback/'}}">GIVE FEEDBACK</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{{'/contactus/'}}">CONTACT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{'/notice/'}}">NOTICE</a>
                  </a>
                  </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{'/login/'}}">LOGIN</a>
                  </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{{'/registration/'}}">REGISTRATION</a>
                    </a>
                    </li>
            
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><h5>Login as Student</h5></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{'/login/'}}">Login as Internship Provider</a></li>
                    
                  </ul>
                </li> -->
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>