<!DOCTYPE html>
{%load static%}
{% include 'internship/common/provider_common.html'%} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'internship/common/common_css.html'%}

    

</head>
<body>
    <!-- card code started -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="{%static 'internship/images/pre.1.jpg'%}" class="card-img-top"
              alt="Hollywood Sign on The Hill" />
            <div class="card-body">
              <h5 class="card-title">Precursor</h5>
              <p class="card-text">
                Covers core java fundamentals after learning this course; student can become a desktop application developer. Advance Java.....
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{%static 'internship/images/info.jpg'%}" class="card-img-top"
              alt="Palm Springs Road" />
            <div class="card-body">
              <h5 class="card-title">Infosys</h5>
              <p class="card-text">Infosys offers flagship learning programs bringing digital & life skills for students and lifelong learners to empower the people. Start learning for free!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{%static 'internship/images/pw.jpg'%}" class="card-img-top"
              alt="Los Angeles Skyscrapers" />
            <div class="card-body">
              <h5 class="card-title">Physics Wallah</h5>
              <p class="card-text">Physics Wallah is India's top online ed-tech platform that provides affordable and comprehensive learning experience to students of classes 6 to 12
                </p>
            </div>
          </div>
        </div>
        
    <!-- card code ends -->


    
   

    {%include 'internship/common/commonfooter.html'%}
 
{%include 'internship/common/common_js.html'%}  
</body>
</html>