<!DOCTYPE html>
{%load static%}
{% include 'internship/common/provider_common.html'%} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'internship/common/common_css.html'%}
    <title>Document</title>
</head>
<body>
    <div class="row  justify-content-center mt-2">
        <div class="col-6" style="border-style: solid;border-width:3px;border-color: rgb(49, 40, 40);">
        <!-- form code start -->
        <form method="post" action="/providercourse/">
            {%csrf_token%}
        
            <label for="exampleFormControlInput1" class="form-label">Program Name</label>
            <input type="text" class="form-control"  placeholder="please enter program Name" name="program_name">
            <label for="exampleFormControlInput1" class="form-label">Program Duration</label>
            <input type="text" class="form-control" placeholder="please enter program duration" name="program_duration">
            <label for="exampleFormControlInput1" class="form-label">Program Fees</label>
            <input type="number" class="form-control" placeholder="Organization Name" name="program_fees">
            <label for="exampleFormControlInput1" class="form-label">Program Start</label>
            <input type="date" class="form-control" placeholder="program start date" name="start_date">
            <label for="exampleFormControlInput1" class="form-label">Program Ends</label>
            <input type="date" class="form-control" placeholder="program end date" name="end_date">
            <label for="exampleFormControlInput1" class="form-label">Program Perquisite</label>
            <input type="text" class="form-control" placeholder="please enter provider PhoneNumber" name="program_per">
            <label for="exampleFormControlInput1" class="form-label">Program Stipend</label>
            <input type="text" class="form-control" placeholder="please enter provider Address" name="program_sti">
        
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Program Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="program_des" rows="3"></textarea>
        
            
            
         
          <button class="btn btn-success">Submit</button>
        </form>
        </div>

        {%include 'internship/common/commonfooter.html'%} 
{%include 'internship/common/common_js.html'%}     
</body>
</html>